/* main background image*/
body {
    background-image:url("./images/background-image.jpg");
}
/*main content styles*/
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle; 
    color: white;
    
}

#search-text {
    font-weight: 800;
    color: white;
    
}

#search-btn {
    background-color: white;
    color: black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}
#input-field{
  border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.iconify{
  font-size: 19px;
}

/*logo*/
nav img{
   width: 30%;
   margin: auto;

}

.reviewText {
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

.images{
    width:100%;
    height:100%
}

/* styling for the movie history container/button */
#search-history{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.list-of-movies{
    padding: 3px;
    margin-top: 2%;
    font-size: 2.10vh;
    width: 100%;
    border-radius: 5px;
}
/* styling for the movie history container/button ends*/

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    nav img{
      /* this will be applied on any screen smaller than 575px */
      width: 60%;
    }
  }
  
  .searchDiv {
      display:flex;
      align-items:center;
      justify-content: center;
  }
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  #myBtn{

    color: white;
    background-color: black;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;

}

.description {
  color: black;
  text-align: left;
}

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }