/* main background image*/
body {
    background-image:url("./images/background-image.jpg");
}
/*main content styles*/
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle; 
    color: white;
    
}

#search-text {
    font-weight: 700;
    color: white;
    
}

#search-btn {
    background-color: white;
    color: black;
}
/*logo*/
nav img{
   width: 30%;
   margin: auto;

}

.reviewText {
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

.images{
    width:100%;
    height:100%
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    nav img{
      /* this will be applied on any screen smaller than 575px */
      width: 60%;
    }
  }
  
  .searchDiv {
      display:flex;
      align-items:center;
      justify-content: center;
  }
  
